.app-header {
    background-color: #FF9900;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
}

img {
    margin:1em;
}
.title {
    font-weight: bold;
    color: white;
    font-size: 2em;
}