.tweet {
    border: 2px rgba(0, 0, 0, 0.15);
    border-style: groove;
    margin-bottom: 10px;
}
.title-container, .form {
    display: flex;
}
.titl
.title {
    margin-right: 10px;
}
.example-full-width {
    width: 400px;
}

.container {
    margin: 2em;
    width: 450px;
}
.contents {
    height: 　500px;
    overflow: auto;
}